<a href="https://colab.research.google.com/github/aaryan180207/python-experiments/blob/main/experiment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# First Python Program/ String
print("hello , welcoe to python program")

hello , welcoe to python program

Name-Aaryan Jhamtani
PRN-25070123005
Branch-ENTC
Batch-A1

In [ ]:
print("hello"); print("barcelona beat real madrid"); print("india beat new zealand")

hello
barcelona beat real madrid
india beat new zealand

In [ ]:
print("hello", end=" ")
print("barcelona beat real madrid")
print("india beat new zealand")

hello barcelona beat real madrid
india beat new zealand

In [ ]:
print(5)

5

In [ ]:
x,y,z=1,2,3
print(x,y,z)

1 2 3

In [ ]:
a=10
b=7
print("Subtraction=",a-b)

Subtraction= 3

In [ ]:
x=10
y=3.14
z="chahek"
flag=True
C=3+2j
print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [ ]:
name=input("enter your name")
print(name)

enter your namearyan
aryan

In [ ]:
a =int(input("enter first number"))
b =int(input("enter second number"))
print("subtraction=", a-b)

In [ ]:
m1=int(input("enter a number"))
m2=int(input("enter a number"))
m3=int(input("enter a number"))
m4=int(input("enter a number"))
m5=int(input("enter a number"))
print("addition=", m1+m2+m3+m4+m5)
print("divsion=", m1+m2+m3+m4+m5/5)

In [ ]:
a=float(input("enter a number"))
b=float(input("enter a number"))
print("area of rectangle=", a*b)

enter a number7.4
enter a number8.6
area of rectangle= 63.64

In [ ]:
r=float(input("enter a number"))
print("area of circle=", 3.14*r*r)

enter a number7.4
area of circle= 171.9464

In [ ]:
print(3**3)

27

In [ ]:
print((3,4,5)+(6,7,8))

(3, 4, 5, 6, 7, 8)